{% extends "blog/base.html" %}

{% block title %}Blog - Post List{% endblock %}

{% block content %}
    <h2>Blog Posts</h2>
    <ul>
        {% for post in posts %}
            <li>
                <h3>
                    <a href="{% url 'post_detail' year=post.published_date.year month=post.published_date.month day=post.published_date.day slug=post.slug %}">
                        {{ post.title }} 
                    </a><span class="small-date">{{ post.published_date|date:"F d, Y" }}</span>
                </h3>
                <p></p>
                <!--<p>{{ post.content|truncatewords:30 }}...</p>-->
            </li>
        {% empty %}
            <p>No posts available.</p>
        {% endfor %}
    </ul>
{% endblock %}
